@model IEnumerable<TarefasController.Models.Tarefa> 
<!-- model do razor tem que receber a view do app pleople-->
</br></br>
<a href="Tarefa/Create" class="btn btn-primary">Nova tarefa</a> <!--usou o esquema do botao do bootstrap-->
</br></br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>tarefaNome</th>
                <th>dataLimite</th>
                <th>percentConcluido</th>
                <th></th>
            </tr>
            </tr>
        </thead>
        @foreach(var item in Model)
        { 
            <tr>
                <td>@item.id</td>
                <td>@item.tarefaNome</td>
                <td>@item.dataLimite</td>
                <td><a class="btn btn-danger"
                         href="Tarefa/Delete/@item.id">Deletar</a> </td>
                <td><a class="btn btn-primary"
                         href="Tarefa/Edit/@item.id">Editar</a> </td>
            </tr>
        }
    </table>
</div>