@model IEnumerable<TarefasArnaldo.Models.Task>
    
</br></br>
<a href="TarefasArnaldo/Create" class="btn btn-primary">Nova Tarefa</a>
</br></br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome Tarefa</th>
                <th>Data Limite</th>
                <th>Percentual Concluido</th>
                <th></th>
            </tr>
            </tr>
        </thead>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.date</td>
                <td>@item.percentComplete</td>
                <td><a class="btn btn-danger"
                    href="TarefasArnaldo/Delete/@item.id">Delete</a> </td>
                <td><a class="btn btn-primary" 
                    href="TarefasArnaldo/Edit/@item.id">Editar</a> </td>
            </tr>
        }
    </table>
</div>