@model TarefasArnaldo.Models.Task
<div class="form-horizontal">
    <form action="Create" method="Post">

        <div class="form-group">
            <label>Id</label>
            <input  class="form-control"
                    type="text" name="id"/>
        </div>

        <div class="form-group">
            <label>Nome</label>  
            <input  class="form-control"
                    type="text" name="name"/>
        </div>

        <div class="form-group">  
            <label>Data Limite</label>
            <input  class="form-control"
                    type="text" name="date"/>
        </div>

          <div class="form-group">  
            <label>Percentual Concluido</label>
            <input  class="form-control"
                    type="text" name="percentComplete"/>
        </div>
        
        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>

