<div class="text-center">
    <h1 class="display-4">
        Controle de Gastos No Restaurante
    </h1>
    <br />
    <body background="https://www.ahstatic.com/photos/5555_rsr001_02_p_1024x768.jpg">
    <h2>
        LPC - Aldrin e Gustavo 
    </h2>
</div>
