colone = #191a1d
coltwo = #1d1e22
heart = #df2359
light = #ffffff
bdr = #312d3c

.str-style
  stroke-dasharray 700
  stroke-dashoffset 1000
  animation dash 4s linear forwards
  
.cur
  cursor move
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab
  // @extend .cur
  
.cur-act
  cursor -webkit-grabbing
  cursor -moz-grabbing
  cursor -o-grabbing
  cursor grabbing
  // @extend .cur-act

.before-style
    position absolute
    top calc(100% + 4px)
    left 0
    content ''
    width 20px
    height 2px
    background-color light
    transform-origin 0 100%
    transform rotate(-5deg)
    transition all 0.2s ease-out
    
*,
::before,
::after
  box-sizing border-box
  margin 0

::-webkit-scrollbar
  width 8px
  height 6px

::-webkit-scrollbar-track
  background-color colone

::-webkit-scrollbar-thumb
  border-radius 1em
  background-color bdr
  
  &:hover
    background-color heart

body
  height 100vh
  overflow hidden
  margin 0
  line-height 1.5
  font-family 'Inconsolata', monospace
  color light
  background-color colone

.smooth
  scroll-behavior smooth
  overflow-y scroll
  margin 0 auto
  width calc(100% - 1em)
  padding 0 1em
  height 100%
  
a
  text-decoration none
  color light
  
  &:hover,
  &.active
    color heart
    
ul
  list-style-type none
  margin 0
  padding 0
  
header,
footer
  position relative
  padding 2em 3em
  display flex
  align-items center
  font-size 1rem
  
header
  position sticky
  top 0
  z-index 4
  padding 1em
  min-height 10vh
  justify-content space-between
  background-color colone
  
  @media (max-width: 768px)
    flex-direction column

  h3
    position relative
    margin 0
    font-family 'Montserrat', sans-serif
    font-size 2rem
    color heart

    &::before
      @extend .before-style
      background-color heart
      width 30px

  ul
    margin 1em 0
    display flex
    width 100%
    justify-content flex-end
    align-items center

    li
      position relative
      margin 0 1em

      &::before
        @extend .before-style

      a
        text-transform uppercase
        font-family 'Montserrat', sans-serif
        font-weight 500

      &:hover
        &::before
          width 100%
          background-color heart
input
  margin-bottom 1em
  min-height 3em
  width 45%
  font-size 1rem
  color light
  border 0
  border-bottom 2px solid light
  background none

  &::placeholder
    position relative
    top 0
    color inherit
    transition all 0.2s linear

  &:focus
    outline none

    &::placeholder
      top -1.25em
      font-size 0.825rem

.button
  position relative
  margin-top 1em
  padding 1em 3em
  text-transform uppercase
  display block
  font-size 1rem
  cursor pointer
  font-weight 600
  color light
  border 3px solid heart
  border-radius 0.35em
  background heart
  box-shadow 0 6px 40px rgba(colone, 0.25)

  &:hover
    color light

section
  position relative
  padding 1.25em 1em
  display flex
  width 100%
  min-height 100vh
  flex-direction column
  justify-content center
  align-items center
  border-radius 1em
  background-color colone
  
  &:nth-child(odd)
    background-color coltwo
    
  h2
    position relative
    text-transform uppercase
    margin-bottom 1em
    font-family 'Montserrat', sans-serif
    
    &::before
      @extend .before-style
      width 50px
      
  &#home
    background-position center center
    background-repeat no-repeat
    background-size cover
  
    &::before
      position absolute
      content ''
      top 0
      left 0
      z-index 0
      width 100%
      height 100%
      background-color colone
      opacity .5
      
    h1
      display none
    
    .content
      z-index 1
      
      @media (min-width: 991px)
        display grid
        grid-template-columns 1fr minmax(40%, auto)
        grid-gap 1em
        
      .title
        display block
        width 100%
        height 100px
        font-family 'Montserrat', sans-serif
        font-size 3rem
        font-weight 600

        text
          fill none
          stroke light
          stroke-width 2
          stroke-linecap round

          stroke-dasharray 700
          stroke-dashoffset 1000
          animation dash 3s linear forwards

        path
          stroke light
          stroke-width 4
          stroke-dasharray 700
          stroke-dashoffset 1000
          animation dash 4s ease-in forwards
          
      .lead
        font-size 1.25rem
        
        a
          color heart
          
      .blur
        position relative
        margin 1em auto
        padding 1em
        overflow hidden
        width 100%
        border-radius 0.35em
        background-color rgba(white, .25)
        backdrop-filter blur(10px)

        form
          position relative
          margin auto
          padding 1em
          display flex
          width 100%
          height 100%
          flex-direction column
          align-items center
          border 2px solid light
          border-radius 0.35em
          
  &#services
    min-height 50vh
          
  &#about
    .block
      position relative
      margin 0.5em auto
      padding 50px
      overflow hidden
      display flex !important
      width 100%
      height 100%
      flex-direction column
      justify-content center
      align-items center
      text-align center
      border 4px solid bdr
      border-radius 0.75em
      transition all 0.2s linear
      will-change transform

      figure
        position relative
        z-index 1
        min-height 75px

        img
          margin auto
          border-radius .5em

        figcaption
          position relative
          padding-top 1em
          font-weight 700
          color heart

      p
        margin 0


      &.active,
      &:hover
        background-color bdr
        transform translateY(-10px)

  &#letter
    min-height 50vh

    form
      margin-top 1em
      width 80%
      flex-direction column
      justify-content space-around
      
      @media (min-width: 768px)
        flex-direction row
        align-items center
        justify-content space-between

      input
        margin .5em auto
        width 100%
        
        @media (min-width: 768px)
          width auto

      input[type='text']
        padding 1em 0.5em
        width 100%
        border 2px solid light
        border-radius .35em
        
        @media (min-width: 768px)
          width 45%
    
  &#testimonials
    .slick-slide
      text-align center
      
      &:focus
        outline none
      
      div
        div
          display flex
          flex-direction column
          justify-content center
      
          img
            margin 0 auto 1em
            border-radius .5em

      .blockquote
        position relative
        overflow hidden
        margin-top 1.5em
        padding 1em 2em
        border-radius 1em
        border 4px solid bdr
        transition all 0.2s linear
        
        &::before
          position absolute
          top -20px
          right 10px
          z-index 0
          content '\f10d'
          font-family 'FontAwesome'
          font-size 5rem
          color coltwo
          opacity 0.8

        .author
          position relative
          z-index 1
          display block
          font-size 1.25rem
          color heart
          font-weight 600

        .pos
          position relative
          z-index 1
          padding-bottom 0.25em
          display block
          font-size 1.25rem
          border-bottom 1px solid coltwo

        &:hover
          background-color bdr
    
  &#news
    .post
      padding: 0.25em 0.5em
      display: flex
      width: 100%
      flex-direction: column
      justify-content: space-between
      border: 4px solid transparent
      border-radius: 0.35em
      transition: transform 0.2s linear

      h3
        margin: 0

        &:hover
          color: heart

      .date
        color: darken(light, 60%)

      .tags
        position: relative
        padding: 0.5em 0
        padding-left: 30px
        border-top: 1px solid bdr
        color: darken(light, 60%)

        a
          color: darken(light, 60%)

        &::before
          position: absolute
          left: 0
          content: '\f02c'
          font-family: 'FontAwesome'

      p
        margin: 0

      &:hover
        transform: scale(0.98)
        background-color: colone

        &:hover
          h3
            color: heart

.grid
  display grid
  grid-gap 2em
  
  &.g_three
    @media (min-width: 991px)
      grid-template-columns repeat(3, 1fr)
    
  &.g_four
    @media (min-width: 991px)
      grid-template-columns repeat(4, 1fr)
  
  &.g_two
    @media (min-width: 991px)
      grid-template-columns 1fr minmax(300px, auto)

.flex
  display flex
  width 100%
  align-items center

  &.column
    flex-flow column wrap
    justify-content space-between

.bar_val
   justify-content flex-end
   
   h3
     margin-right 1em
   
   @media (min-width: 768px)
     justify-content space-between

progress
  position relative
  margin 1em 0
  
  &[value]
    -webkit-appearance none
    appearance none
    width 100%
    max-width 360px
    height 1px
    
  &::-webkit-progress-bar
    background-color darken(light, 60%)
    border-radius 1em
    
  &::-webkit-progress-value
    position absolute
    top -2px
    left 0
    background-color heart
    border-radius 1em
    height 5px

.slider
    width 90%

    .slick-track
      display flex
      align-items center
      justify-content center

    .slick-arrow
      width 40px
      height 100%
      text-align center

      &::before
        width inherit
        height inherit
        font-size 36px
        color bdr
        transition color 200ms linear
        
      &:hover        
        &::before
          color heart

    .slick-slide
      display flex
      padding 15px
      @extend .cur
      
      &:focus
        outline none

      div
        text-align center
        display flex
        width 100%
        align-items stretch
        
        .block
          position relative
          white-space nowrap

          &::before
            position absolute
            top -25%
            right -25%
            z-index 0
            width 100%
            height 100%
            content '\f219'
            font-family 'FontAwesome'
            font-size 12rem
            color coltwo
            opacity 0.05

          &.b_tw
            &::before
              content '\f121'

          &.b_th
            &::before
              content '\f05b'

          &.b_fo
            &::before
              content '\f25b'

          &.b_fi
           &:before
             content '\f201'

          &:focus
            outline none
          &:active
            @extend .cur-act

.slick-dots
    position relative
    margin-top 0.5em

    li
      position relative
      margin 0 .5em 1.5em
      width 20px
      height 20px
      cursor pointer
      border 2px solid bdr
      border-radius 50%
      background-color coltwo

      &:hover,
      &.slick-active
        background-color bdr
        transform scale(1.2)

      button
        &::before
          display none

footer
  padding-bottom 1em
  width 100%
  min-height 35vh
  flex-direction column
  justify-content space-around
  border-top 2px solid bdr
  background-color colone

  .widgets    
    @media (min-width: 480px)
      display grid
      width 100%
      grid-gap 1em    
      grid-template-areas 'l l' 'w1 w2' 'w3 w4'
    
    @media (min-width: 768px)
      grid-template-areas 'l w1 w2' 'w3 w4 w4'
      
    @media (min-width: 1024px)
      grid-template-areas 'l w1 w2 w3 w4'      
    
    .f_logo
      grid-area l
      
      margin-bottom 1em
      
      display flex
      justify-content center
      align-items center
      
    .widget
      margin-bottom 1.5em
      
      &:nth-of-type(2)
        grid-area w1
      &:nth-of-type(3)
        grid-area w2
      &:nth-of-type(4)
        grid-area w3
      &:last-child
        grid-area w4

  .copy
    display flex
    width 100%
    justify-content space-between
    align-items center
    
    @media (max-width: 576px)
      flex-direction column
      text-align center
      
      a
        display block

  .foo_logo
    position relative
    font-family 'Montserrat', sans-serif
    color heart

    &::before
      @extend .before-style
      background-color heart

  h5
    margin-bottom 1em
    text-transform uppercase
    font-family 'Montserrat', sans-serif

    &.follow
      color heart

  li
    will-change transform
    transition transform 200ms ease-in

    i
      opacity 0.5

    &:hover,
    &.active
      transform translateX(5px)

  .copy
    margin-top 1em
    border-top 2px solid bdr

    p
      margin 0.75em 0 0


    .heart
      position relative
      display inline-block
      color heart
      animation hearts 0.6s cubic-bezier(0.18, 0.89, 0.29, 1.05) infinite

@keyframes dash
  to
    stroke-dashoffset 0
    fill white

@keyframes hearts
    50%
      transform scale(1.4)